body {
  background-image: url("./images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Varela Round", sans-serif;
}

h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 72px;
}


.start-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#start {
  width: 200px;
  height: 100px;
  font-size: 50px;
  font-family: "Varela Round", sans-serif;
  background-color: wheat;
}


.number-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#throw {
  width: 300px;
  height: 50px;
  font-size: 20px;
  font-family: "Varela Round", sans-serif;
  margin:0px 30px 30px 0px;
}

#enter {
  width: 200px;
  height: 55px;
  font-size: 20px;
  font-family: "Varela Round", sans-serif;
  margin:0px 30px 30px 0px;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.screen-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 700px;
  height: 55px;
  border: 1px solid black
}

.screen-innerdiv {
  font-size: 20px;
  margin: 0px 10px 0px 10px;
}

.screen-div-attempt {
  width: 30px;
}

.screen-div-ball {
  letter-spacing: 40px;
}

.reset-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#reset {
  width: 200px;
  height: 55px;
  font-size: 20px;
  font-family: "Varela Round", sans-serif;
  background-color: wheat;
}